{% extends 'base.html.twig' %}

{% block body %}

        <div class="container">
          <div class="text-center">

          <div>
          <h2 class="bold" style="color:#daa326">Made in Sénégal</h2>
          </div>
              <p  style="color:#041423;"><strong> Page d'accueil en cours de construction !!!! </strong></p>




    </div>
    </div>
{% endblock %}

{% block javascripts -%}
    {{parent()}}
    <script type="text/javascript" >

 $(document).ready(function(){
     $("#successMessage").delay(5000).slideUp(300);

     $("#lienentrer").hover(function() {
  	 $(this).css("color","#daa326")
});

 });



    </script>
{% endblock %}
