
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href={{ path('homepage') }}><small>Accueil</small></a>
        </div>



      {#  <ul class="nav navbar-nav navbar-right">
            <li><a href={{ path('login') }}><span class="glyphicon glyphicon-log-in"></span> login  </a></li>
         </ul>

#}

         <ul class="nav navbar-nav navbar-right">
            <li><a href={{ path('register') }}><span class="glyphicon glyphicon-log-in"></span> Register </a></li>
         </ul>




         </div>
         </div>
